@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
}

.container{
    width: 1500px;
    max-width: 100%;
    margin: 0 auto;
}

.container .container-bbb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header-logo-site{
    display: flex;
}

.container .menu-right .pages-link{
    display: flex;
}

.container-bbb .header-top .header-title-description{
    margin-left: 10px;
    line-height: 60px;
    font-size: 0.75rem;
    opacity: 0.5;
}

.header-top .header-title a{
    font-size: 20px;
    font-weight: 700;
    color: beige;
    color: rgba(0, 0, 0, 0.692);
}

.header-bottom .search-bar__input{
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #222;
    font-size: 14px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 15px 0 10px;
    border: 1px solid #ddd;;
}


.menu-right{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

}

.menu-right .pages-link{
    display: flex;
    width: 100%;
    margin-left: 50px;
    font-size: 14px;
}

.list-product{
    margin-top: 25px;
}

.header-bottom .search-submit{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none;
    color: #222;
    width: 50px;
    height: 40px;
    padding: 0;
    position: absolute;
    top: 10px;
    /* right: 0; */
    text-align: center;
    -webkit-backface-visibility: hidden;
}

.menu-right .pages-link li a{
    padding: 10px 16px;
    display: inline-block;
    max-width: 100%;
    color: black;
}

.menu-right .pages-link li a:hover{
    border: 1px solid #ccc;
    background-color: #ccc;
    color: black;
}

.list-product .lis{
    display: grid;
    /* grid-template-columns: auto auto auto; */
    grid-template-columns: repeat(5,300px);
    row-gap: 20px;
    column-gap: 5px;
}

.list-product .lis .main-title-product .main-logo-img img.main-logo{
    width: 100%;
    height: auto; 
    aspect-ratio: 340 / 191;
    display: block;
}

.lis .main-title-product .entry-title{
    font-size: 16px;
    font-weight: normal;
    line-height: 1.3;
}

.lis .main-title-product .entry-header{
    text-align: center;
}
